* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  background-color: #e5f0ff;
}
.first_container img {
  display: flex;
  position: absolute;
  margin-left: 60rem;
  width: 30%;
  max-height: 36rem;
  background: none; 
}
.second_container img {
  position: absolute;
  margin-top: 7rem;
  margin-left: 55rem;
  height: 25rem;
  background: none;
}

.nav_container {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem 1.5rem 6rem;
  user-select: none;
  background: none;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  margin-left: 6rem;
  padding-right: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  letter-spacing: 0.1rem;
  color: rgba(0, 21, 51, 0.6);
  cursor: pointer;
}
.nav_list img {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  padding-top: 50px;
}

.nav_container button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  margin-left: auto;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  width: 137px;
  height: 43px;
  color: rgba(59, 130, 246, 1);
  background: #ffffff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
main_header,
h1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 40px 90px;
  width: 537px;
  height: 222px;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  color: #193766;
}
.main_header p {  
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: -30px 90px;
  /* padding: 40px; */ 
  width: 537px;
  height: 222px;      
  font-weight: 400;
  font-size: 22px;
  color: #697b98;
}
.main_header button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #f4f7ff;
  padding: 20px 30px;
  margin-top: 20px;
  gap: 15px;
  width: 214px;
  height: 64px;
  background: #3b82f6;
  box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
  border-radius: 6px;
  border: none;
}
.btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 90px;
  margin-top: -90px;
}
.btn .action_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px 30px;
  margin-left: 20px;
  gap: 15px;
  width: 201px;
  height: 64px;
  background: #c6dbff;
  color: #3b82f6;
  border-radius: 6px;
}

.second_header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-left: 350px;
  padding-left: 50px;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #193766;
  width: 600px;
  height: 150px;
}

.small_box{
  margin-left: 50px;  
}
.small_box img{
  width: 300px;
}
/* box1 css */
.small_box1 {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  width: 373.33px;
  height: 364px;
  margin: 20px;

  /* Dark */

  background: #193766;
  /* Shadow Dark */

  box-shadow: 0px 30px 60px rgba(25, 55, 102, 0.25);
  border-radius: 10px;
}
.small_box1 img{
 
padding: 10px;
gap: 10px;

width: 90px;
height: 70px;

background: none;
border-radius: 6px;
}
.small_box1  h2{
  margin: 20px 20px 20px 0px;
  color:#FFFFFF;
  background: none;
  font-weight: 700;
font-size: 24px;
line-height: 44px;
}
.small_box1 p{
  font-weight: 400;
font-size: 16px;
line-height: 30px;
color: rgba(255, 255, 255, 0.8);
background: none;
}
/* box2 css */
.small_box2 {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  width: 373.33px;
  height: 364px;
  margin: 20px;

}
.small_box2 img{
 
padding: 10px;
gap: 10px;
/* margin-top: 40px; */

width: 90px;
height: 70px;

background: none;
border-radius: 6px;

}
.small_box2  h2{
  margin: 20px 20px 20px 0px;
  color:#193766;
  background: none;
  font-weight: 700;
font-size: 24px;
line-height: 44px;
}
.small_box2 p{
  font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #697B98;
background: none;
}
/* box3 css */
.small_box3 {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  width: 373.33px;
  height: 364px;
  margin: 20px;
}
.small_box3 img{
 
padding: 10px;
gap: 10px;

width: 90px;
height: 70px;

background: none;
border-radius: 6px;
}
.small_box3  h2{
  margin: 20px 20px 20px 0px;
  color:#193766;
  background: none;
  font-weight: 700;
font-size: 24px;
line-height: 44px;
}
.small_box3 p{
  font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #697B98;
background: none;
}

.box1 h1{
width: 565px;
margin-left: 60px;
margin-top: 40px;
height: 88px;
font-weight: 500;
font-size: 32px;
line-height: 44px;
color: #193766;
}
.box1 p{
width: 574px;
height: 90px;
margin-left: 60px;
margin-bottom: 20px;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #697B98;
}
.bx3 p {
  display: flex;
  justify-content: center;
  align-items: center;
width: 574px;
height: 60px;
margin-left: 60px;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: #193766;
}
.bx3 span{
  width: 120px;
  font-size: 13px;
  color: #3B82F6;
  margin-top: -30px;
}
.bx3 img{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: -30px;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background: none;
}
.bx3_img img{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 750px;
  margin-top: -420px;
  background: none;
  }
  
  .box22 img{
    width: 400px;
    height: 500px;
    margin-left: 1000px;
    margin-top: -500px;
    background: none;
  }  
.box23 img{
  width: 400px;
  height: 400px;
  margin-left: 1100px;
  margin-top: -500px;
  background: none;
}
.sb1 h1{
  width: 573px;
height: 88px;
font-weight: 500;
font-size: 32px;
line-height: 44px;
margin-top: 140px;
margin-left: 60px;
/* or 138% */


/* Dark */

color: #193766;

}
.sb1 p{
  width: 574px;
height: 90px;
font-weight: 400;
font-size: 16px;
line-height: 30px;
margin-left: 60px;
/* or 188% */


/* Muted */

color: #697B98;
}
.sb_btn1 button{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 25px 35px;
gap: 10px;
margin-left: 30px;

width: 500px;
height: 60px;
margin-left: 50px;
margin: 20px;
color: #FFFFFF;
/* Primary */

background: #3B82F6;
/* Shadow Primary */

box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
border-radius: 10px;
border: none;
}
.sb_btn1 button{
  margin-left: 60px;
}
.sb_btn2 button{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 25px 35px;
gap: 10px;
margin-left: 30px;

width: 500px;
height: 60px;
margin-left: 50px;
margin: 20px;
color: #193766;
/* Primary */
background: #E5E5E5;
/* Shadow Primary */

box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
border-radius: 10px;
border: none;
  margin-left: 60px;
}
.sb_btn1 img{
  width: 40px;
  height: 30px;
  color: #FFFFFF;
  background: none;
}
.sb_btn2 img{
  width: 40px;
  height: 30px;
  color: #193766;
  background: none;
}
.bx3_img1 img{
  position: absolute;
  width: 366px;
height: 456px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 750px;
  margin-top: -420px;
  border-radius: 27px;
  background: none;
}

.box24 img{
  width: 400px;
    height: 500px;
    margin-left: 1000px;
    margin-top: -400px;
    background: none;
}

.btn1 button{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 10px;
margin-top: 240px;
margin: auto;
margin-top: 300px;
color: #3B82F6;
font-weight: 700;
font-size: 16px;
line-height: 21px;

width: 145px;
height: 41px;

background: rgba(59, 130, 246, 0.1);
border-radius: 100px;
border: none;
}
.b1 h1{
  width: 777px;
height: 44px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 44px;
margin: 10px auto;
/* identical to box height, or 138% */

text-align: center;

/* Dark */

color: #193766;
}
.b1 span{
  color: #3B82F6;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  padding: 6px;
  
}
.b1 p{
  width: 500px;
height: 60px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
margin: auto;
/* or 188% */

text-align: center;

/* Muted */

color: #697B98;
}

.sixth_container{
  margin-top: -50px;
}

.btn_21 button{
  position: absolute;
  display: flex;
  flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 10px;
gap: 15px;
margin-left: 470px;
color: #FFFFFF;
width: 214px;
height: 64px;
font-weight: 700;
font-size: 16px;

/* Primary */

background: #3B82F6;
/* Shadow Primary */

box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
border-radius: 6px;
border: none;
}
.btn_21 img{
  width: 45px;
  height: 35px;
  background: none;
}
.btn_22 button{

  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 10px;
gap: 15px;
margin:20px;
margin-left: 750px;
font-weight: 700;
font-size: 16px;
line-height: 21px;
/* identical to box height */


color: #F4F7FF;

width: 187px;
height: 64px;

background: #1DA1F2;
box-shadow: 0px 30px 60px rgba(29, 161, 242, 0.25);
border-radius: 6px;
border: none;
}
.btn_22 img{
  width: 45px;
  height: 35px;
  background: none;
}

.btn2_img1 > img{
  width:55px;
  height: 50px;
  background: none;
  margin-left: 950px;
  margin-top: -60px;
  
}
.btn2_img2 > img{
  width:90px;
  height: 50px;
  background: none;
  margin-left: 950px;
  
}

/* .........footer css......... */
.footer{
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
/* width: 1440px; */
/* height: 680.18px; */
/* left: 0px; */
/* top: 6409px; */

/* Dark */
/* background-color: #193766; */
background: #193766;
}
.bb1_img1 img{
  position: absolute;
  width: 100px;
  height: 70px;
  background: none;
  margin: 30px 60px;
}
.bb1 h1{
  /* display: flex; */
width: 69px;
height: 23px;
background: none;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;


color: #FFFFFF;
}
.bb1 p{
  /* width: 575px;
height: 84px; 
/* position: relative; */
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Muted Light */

color: rgba(255, 255, 255, 0.8);
/* background: none; */
}
 .bb2  .para p {

  margin-top: 20px;
font-weight: 700;
font-size: 11px;
line-height: 18px;
letter-spacing: 0.1em;

color: rgba(255, 255, 255, 0.4);
  
  background: #193766;
 }
 .bb2 h1{
  /* position: relative; */
width: 50px;
height: 30px;
font-weight: 700;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.1em;
background: none;
margin-top: 60px;

color: #FFFFFF;
 }

.bb2 {
  margin-top: 40px;
  background: none;
}
.bb2 h3{
  /* position: absolute; */
/* width: 84px;
height: 18px;
margin: 10px; */
/* left: 741px; */
/* top: 6690px; */

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 175% */


/* Muted Light */

color: rgba(255, 255, 255, 0.8);
  background: none;
}
 
 .bb2 h3{
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .bb2 p{
  width: 485px;
height: 84px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;

color: rgba(255, 255, 255, 0.8);
 }

 /* .........media query............... */
 @media only screen and (max-width: 576px) {
  * {
    margin: 0;
}
  html{
    font-size: 45%;
  }
  .nav_container{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
     }
  .nav_container ul{
        padding: 10px;
        cursor: pointer;
        width: 40px;
        height: auto;
      }
      .main_container{
        display: grid;
        width: 100%;
        height: auto;
        overflow-wrap: normal;
        /* margin-top: 30rem; */
        /* margin-left: 6rem; */
      }
      .first_container{
        width: 100%;
        display: block;
        height: auto;
        
      }
      .first_container img{
        width: 80%;
        height: auto;
        /* display: block; */
        margin-left: 100px;
      }
      .main_header{
        display: block;
        width: 50%;
      }
      .main_header h1{
        width: 50%;
        display: block;
        height: auto;
        margin-top: 350px;
        
      }
      .main_header p{
        width: 50%;
        align-items: center;
        justify-content: center;
      }
      .btn{
        width: 60%;
      }
 }